main.main
    footer.footer
        .footer__el
            img.footer__el__logo(src='/images/logo-green.png' alt='image')
        .footer__nav        
            ul.footer__nav__list
                li: a(href='#') about us
                li: a(href='#') download apps
                li: a(href='#') become a guide
                li: a(href='#') careers
                li: a(href='#') contact
            .footer__nav__cright  &copy; 2024 by Anwar Tarek
